{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{#{%   if not (verifyCaptcha($_POST["g-recaptcha-response"])) { %}#}
{#{% formValid = false %}#}
{#{% errRecaptcha = "reCaptcha sako, kad Jus esate robotas :)"} %}#}


{% block content %}

    <main class="container">
        {{ fburl|raw }}

        <section id="about-me">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="text-center section-title">Patirtis</h1>
                    <p class="lead">Sveiki! Siūlau Jums profesionalias apsaugos ir stebėjimo sistemų montavimo ir
                        aptarnavimo
                        paslaugas.
                        Šioje srityje dirbu nuo 2006-ųjų metų. Tikiu, kad sukaupta patirtis leis rasti optimalų
                        sprendimą,
                        atitinkantį Jūsų poreikius ir galimybes.</p>
                    <h1 class="text-center section-title">Patikimumas</h1>
                    <p class="lead">Visą montuojamą įrangą perku iš patikrintų tiekėjų ir jai yra teikiama gamintojo
                        garantija.</p>
                    <p class="lead">Užpildykite žemiau esančią <a href="#captcha-form">susisiekimo formą</a>, ir aš
                        susisieksiu su
                        Jumis artimiausiu metu.</p>
                </div>
                <div class="col-md-4">
                    <img class="img portrait float-right" src="{{ asset('images/portrait.jpg') }}" alt="Mano nuotrauka">
                </div>
            </div>
        </section>


        <section id="pricing-tables">
            <h1 class="section-title text-center">Paslaugos</h1>
            <div class="row">
                <div class="col-with-padding-top col-lg-4 col-md-6 col-xs-12">
                    <ul class="list-group">
                        <li class="list-group-item name"><h3>Apsauga nuo užpuolimo</h3></li>
                        <li class="list-group-item description">
                            Galimybė iškviesti ginkluotus apsaugos darbuotojus į namus arba darbo vietą:
                        </li>
                        <li class="list-group-item features">
                            <i class="fa fa-check"></i>Stacionarus užpuolimo mygtukas arba mygtukų komplektas<br>
                            <i class="fa fa-check"></i>Stacionarus užpuolimo pedalas<br>
                            <i class="fa fa-check"></i>Nešiojamas bevielis užpuolimo mygtukas<br>
                            <a class="link-to-services pull-right" href="paslaugos#attack">Plačiau<i
                                        class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </li>
                        <li class="list-group-item price text-center">Kaina: <i>nuo 70 Eur</i></li>
                        <li class="list-group-item text-center">
                            <img src="{{ asset('images/1.jpg') }}" class="img img-fluid text-center small-image">
                            <img src="{{ asset('images/2.jpg') }}" class="img img-fluid text-center small-image">
                        </li>
                    </ul>
                </div>
                <div class="col-with-padding-top col-lg-4 col-md-6 col-xs-12">
                    <ul class="list-group">
                        <li class="list-group-item name"><h3>Apsauga nuo įsilaužimo</h3></li>
                        <li class="list-group-item description">
                            Išvykstate atostogų, reikalinga turto apsauga:
                        </li>
                        <li class="list-group-item features">
                            <i class="fa fa-check"></i>Vidaus judesio jutikliai<br>
                            <i class="fa fa-check"></i>Mikrobanginiai judesio jutikliai<br>
                            <i class="fa fa-check"></i>Stiklo dūžio jutikliai<br>
                            <i class="fa fa-check"></i>Langų/ durų atidarymo jutikliai<br>
                            <i class="fa fa-check"></i>Smūgio/ vibro jutikliai<br>
                            <a class="link-to-services pull-right" href="paslaugos.php#break-in">Plačiau<i
                                        class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </li>
                        <li class="list-group-item price text-center">Kaina: <i>nuo 200 Eur</i></li>
                        <li class="list-group-item text-center">
                            <img src="{{ asset('images/8.jpg') }}" class="img img-fluid one-small-image">
                        </li>
                    </ul>
                </div>
                <div class="col-with-padding-top col-lg-4 col-md-6 col-xs-12">
                    <ul class="list-group">
                        <li class="list-group-item name"><h3>Objekto stebėjimas</h3></li>
                        <li class="list-group-item description">
                            Pašalinių žmonių ar jų neteisėtų veiksmų registravimas:
                        </li>
                        <li class="list-group-item features">
                            <i class="fa fa-check"></i>Vidaus kameros<br>
                            <i class="fa fa-check"></i>Slaptos vidaus kameros<br>
                            <i class="fa fa-check"></i>Lauko kameros<br>
                            <i class="fa fa-check"></i>Valdomos lauko kameros su sekimo funkcija ir nakties režimu<br>
                            <a class="link-to-services pull-right" href="/paslaugos">Plačiau<i
                                        class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </li>
                        <li class="list-group-item price text-center"> Kaina: <i>nuo 600 Eur</i></li>
                        <li class="list-group-item text-center">
                            <img src="{{ asset('images/3.jpg') }}" class="img img-fluid small-image">
                            <img src="{{ asset('images/4.jpg') }}" class="img img-fluid small-image">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row pull-right">
                <div class="col-md-12 link-to-other-services">
                    <a href="/paslaugos">Kitos paslaugos</a>
                </div>
            </div>
        </section>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <form id="captcha-form" action="#captcha-form" method="post" data-parsley-validate>
                    <h1 class="section-title">Turite klausimų? Susisiekite!</h1>

                    <div class="row">
                        {{ form_row(form._token) }}
                        {{ form_widget(form.contact_name, { 'attr': {'class': 'col-md-6 form-group', 'name': 'contact_name', 'placeholder': 'Jūsų vardas'} }) }}
                        {{ form_widget(form.contact_phone, { 'attr': {'class': 'col-md-5 form-group float-right phone', 'name': 'contact_phone','placeholder': 'Telefono numeris'} }) }}
                    </div>

                    <div class="row">
                        {{ form_widget(form.contact_email, { 'attr': {'class': 'col-sm-12 form-group', 'name': 'contact_email', 'placeholder': 'Jūsų el. paštas'} }) }}
                    </div>
                    <div class="row">
                        <label>Papildoma informacija ir pageidavimai</label>
                        {{ form_widget(form.message, { 'attr': {'class': 'col-sm-12 form-group', 'name': 'message', 'placeholder': 'Galite nurodyti objekto tipą (namas, butas, sandelys, ofisas, lauko teritorija), kambarių/patalpų skaičių.'} }) }}
                    </div>
                    {{ form_errors(form) }}
                    {% if form.vars.valid and form.vars.submitted %}
                        {#<div class="alter alert-success">Jūsų užklausa išsiųsta</div>#}
                        <div class="alert alert-success text-center" role="alert">
                            <i>Jūsų užklausa išsiųsta</i>
                        </div>
                    {% endif %}
                    {% if not form.vars.valid %}
                        {# Loop through every form item #}
                        {% for child in form.children %}
                            {# Display the errors of the form item #}
                            {% for error in child.vars.errors %}
                                <div class="alert alert-danger text-center" role="alert">
                                    <i>Neteisingai įvesti duomenys</i>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    <div class="form-group">
                        <div class="g-recaptcha"
                             data-sitekey="<?= CAPTCHA_SITE_KEY ?>"
                             data-size="invisible"
                             data-callback="onSubmit">
                        </div>
                        <button type="submit" class="btn btn-lg submit-button">Siųsti</button>
                        {#{% if (isset(errRecaptcha)) { %}#}
                        {#{%  errRecaptcha; } %}#}
                    </div>
                    {{ form_end(form) }}
            </div>

            <div class="col-md-6 col-xs-12">
                <h1 class="section-title text-center">Kontaktai</h1>
                <p class="contact ml-5"><i class="fa fa-user" aria-hidden="true"></i>Sergey Kruglov</p>
                <p class="contact ml-5"><i class="fa fa-phone-square" aria-hidden="true"></i>+370 628 63546</p>
                <p class="contact ml-5"><i class="fa fa-envelope" aria-hidden="true"></i>sergej.kruglov@gmail.com</p>

            </div>

        </div>
    </main>

{% endblock %}
